langchain-openai
langchain
langchain_community
python-dotenv
langchain_core
streamlit
langchain-groq
faiss-cpu
pypdf
langchain-ollama
langchain-chroma
langchain-huggingface
sentence-transformers
arxiv
wikipedia
ipykernel
ddgs
mysql-connector-python
SQLAlchemy
validators
unstructured
pytube
numexpr
langchain_huggingface
huggingface_hub
cassio
datasets
openai
tiktoken
PyPDF2
gradio